@model IEnumerable<Elevator.Models.Region>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <h2 class="text-center">Поиск устаревших лифтов по региону</h2>
    <div class="content">
        <form action="Objects">
            @*<label for="region">Выберите регион:</label>*@
            <select class="form-control regions" name="region">
                @foreach (Elevator.Models.Region region in Model)
                {
                    <option value="@region.Id">@region.Name</option>
                }
            </select>
            <button class="btn btn-primary find" type="submit">Найти</button>
        </form>
    </div>
</body>
</html>
