@model IEnumerable<Elevator.Models.Region>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="Objects">
            <select name="id">
                @foreach (Elevator.Models.Region region in Model)
                {
                    <option value="@region.Id">@region.Name</option>
                }
            </select>
            <button type="submit">Найти</button>
        </form>
    </div>
</body>
</html>
